# Service user and group
user {{ srv.conf.user | default('nobody') }}
group {{ srv.conf.group | default('nogroup') }}
 
# Set output verbosity
verb {{ srv.conf.verb | default('3') }}
 
# Tunnel config
proto udp
dev tun
port {{ srv.conf.port | default(1194) }}
compress {{ srv.conf.compress | default('lz4') }}
script-security {{ srv.conf.script_security | default(1) }}
chroot /etc/openvpn/chroot/{{ srv.name }}/
tmp-dir tmp/
client-config-dir ccd
{% if not srv.conf.ccd_exclusive | default(false) %}
ccd-exclusive
{% endif %}
 
{% if srv.conf.persist_tun | default(true) %}
persist-tun
{% endif %}
{% if srv.conf.persist_key | default(true) %}
persist-key
{% endif %}
 
# Server config
topology subnet
server {{ srv.conf.network }} {{ srv.conf.netmask }}
tls-server
tls-version-min {{ srv.conf.tls_min | default('1.3') }}
ncp-ciphers {{ srv.conf.cipher | default('AES-256-GCM') }}
dh {{ srv.conf.dh | default('none') }}
ca {{ srv.conf.ca }}
cert {{ srv.conf.cert }}
key  {{ srv.conf.key }}
{% if (srv.conf.crl_file is defined) %}
crl-verify crl.pem
{% endif %}
verify-client-cert require
tls-auth /etc/openvpn/private/{{ srv.name }}-ta.key 0
auth {{ srv.conf.auth | default('SHA256') }}
keepalive {{ srv.conf.keepalive_interval | default(10) }} {{ srv.conf.keepalive_timeout | default(60) }}
{% if srv.conf.float | default(true) %}
float
{% endif %}

#
# Extra params
#

{% if srv.conf.extra_params is defined and srv.conf.extra_params|length %}
{% for p in srv.conf.extra_params %}
{% if p.comment is defined %}# {{ p.comment }}{% endif %} 
{{ p.param }}
{% endfor %}
{% endif %}
